doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/About.css')
  title About us
section
  details(open='')
    summary Masajja Urban Farm Initiative
    div
      img(src='Img/Agricultural officer.jpg')
      p
        | Ufarm is a programme organized to promote and support urban farming practices while easing market access and improving on the family earnings and livelihoods. This programme deals in fresh Horticulture, poultry and Dairy produce.
  details
    summary Team information
    div
      img(src='Img/Ufarm team.jpg')
      p
        | The Ufarm team is lead by the Agricultural Officer who has the authority to register the Farmer Ones. the division is divided into four wards(LCs) and each ward is appointed a farmer one whose purpose is to mobilize, supervise, regulate and support the Urban farmers.Urban farmers are being registered by the Farmer ones in their wards. Urban farmers upload products form their activities and then wait for the farmer one to approve the uploaded products.
  details
    summary General public
    div
      img(src='Img/FarmAfrica-624x274.jpg')
      p
        | This projects provides room for the general public to order or book products being approved by the Farmer one. Customers can choose products according to categories and these are horticulture,poultry and dairy.
  details
    summary Contacts
    div
      img(src='Img/images (25).jpeg')
      p Anyone can contact or communicate with us using our phone numbers and emails.
      span
        i ufarm001@gmail.com
      br
      span
        i masajjaurbanf@gmail.com
      br
      span +256789585624
      br
      span +256708930915
  div.form-row
    div.col.form-group
        a.btn.btn7(class='button' href='/home') << Back
