doctype html
head
  title Dashboard
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='theme-color' media='(prefers-color-scheme: light)' content='cyan')
  meta(name='theme-color' media='(prefers-color-scheme: dark)' content='black')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='css/styles.css')
header
  // place navbar here
  nav.navbar.navbar-dark.bg-secondary.fixed-top
    .container-fluid
      a.navbar-brand(href='#') Farmer One
      nav.header-nav.ms-auto.me-4
        .btn-group(role='group' aria-label='Basic checkbox toggle button group')
          input#btn-light-theme.btn-check(type='radio' name='theme-switch' autocomplete='off' value='light' onchange='handleThemeChange(this)')
          label.btn.btn-primary(for='btn-light-theme')
            svg.icon
              use(xlink:href='vendors/@coreui/icons/svg/free.svg#cil-sun')
          input#btn-dark-theme.btn-check(type='radio' name='theme-switch' autocomplete='off' value='dark' onchange='handleThemeChange(this)')
          label.btn.btn-primary(for='btn-dark-theme')
            svg.icon
              use(xlink:href='vendors/@coreui/icons/svg/free.svg#cil-moon')
      button.navbar-toggler.bg-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar')
        span.navbar-toggler-icon
main
  aside.sidebar
    ul
      li Agricultural Officer
      li Urban Farmer
      li Farmers&apos; list
      li About
  .container.table
    .table-responsive-lg
      table.table.table-bordered
        thead
          tr
            th Produce Name
            th Quantity
            th Price
            th Mode of Delivery
            th Mode of Payment
            th Image 
            th Update
            th Delete
        tbody
          tr
            td
            td
            td
            td
            td
            td
            td
            td
footer
  // place footer here
  .footer
    h4
      | Thanks for visiting our page&#x1F30D;
// Bootstrap JavaScript Libraries
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js' integrity='sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz' crossorigin='anonymous')
