doctype html
head
  title Title
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='css/Form.css')
header
  // place navbar here
main
  .container(style='transform:translateY(35px);')
    h2 Urban Farmer Produce Upload
    hr
    .row.justify-content-center.align-items-center.my-5.cage
      .col-lg-2.cage
        form(action='/prodUpload' name='register' enctype="multipart/form-data" method="POST")
          .row.justify-content-center.align-items-center.g-2.lamar
            .col-lg-3.form-zones
              label Supplier name:
              select#select.form-select(name='supplierName')
                each urbanfarmer in urbanfarmers
                  option(value='')
                  option(value='urbanfarmer' style='text-align:center;') #{urbanfarmer.userName +''+ urbanfarmer.lastName}
            .col-lg-3.form-zones
              label Product name:
              input.form-inputs(name='prodName' type='text')
            .col-lg-3.form-zones
              label Date of upload:
              input.form-inputs(name='regDate' type='date')
            .col-lg-3.form-zones
              label Upload image:
              input.form-inputs(name='prodImage' type='file' style='padding:0;')
            .col-lg-3.form-zones
              label Product Category:
              select#select.form-select(name='prodCategory')
                option(value='' style='text-align:center;') Select option
                option(value='Horticulture') &#x1F34F; Horticulture
                option(value='Poultry') &#x1F414;Poultry
                option(value='Diary') &#x1F404;Diary
            .col-lg-3.form-zones
              label Unique No:
              select#select.form-select(name='uniqueNumber')
                each urbanfarmer in urbanfarmers
                  option(value='')
                  option(value='urbanfarmer' style='text-align:center;') #{urbanfarmer.uniqueNumber}
            .col-lg-3.form-zones
              label Ward:
              select#select.form-select(name='wardName')
                option(value='' style='text-align:center;')
                option(value='Ward 1') Ward 1
                option(value='Ward 2') Ward 2
                option(value='Ward 3') Ward 3
                option(value='Ward 4') Ward 3
            .col-lg-12.form-radio
              label Product type:
              .radio
                | Organic
                input(type='radio' name='prodType' checked='')
                |             Non-Organic
                input(type='radio' name='prodType')
            .col-lg-3.form-zones
              label Quantity:
              input.form-inputs(name='prodQuantity' type='text' style='padding:0;' placeholder='kg/ltrs/gm:')
            .col-lg-3.form-zones
              label Mode of payment:
              select#select.form-select(name='paymentMode')
                option(value='' style='text-align:center;')
                option(value='Mobile money') Mobile money
                option(value='Pay with cash') Pay with cash
            .col-sm-12.col-lg-2.form-zones
              label Price:
              input.form-inputs(type='text' name='price' placeholder='Ugx:')
            .col-lg-3.form-zones
              label Mode of Delivery:
              select#select.form-select(name='deliveryMode')
                option(value='' style='text-align:center;') 
                option(value='Pick up') Pick up
                option(value='Home delivery') Home delivery
            .col-lg-3.form-zones
              label Direction:
              input.form-inputs(type='text' name='direction')
            hr.boundary
            .submit
              .btnz(style='transform:translateY(18px);')
                button(type='submit')
                  span
                  | Sign Up
footer
  // place footer here
// Bootstrap JavaScript Libraries
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js' integrity='sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz' crossorigin='anonymous')
