doctype html
head
    title Ufarm team dashboards
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS v5.2.1
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
    link(rel='stylesheet' href='css/dashboard copy.css')
    link(rel='icon' href='Img/favicon.png')
body(style='background:linear-gradient(90deg, rgba(250, 250, 105, 0.44), rgba(144, 247, 100, 0.46));')
    style.
        .form-style{
        position:absolute;
        top:15%;  
        text-align:center;
        }
        .form-field{
            display:flex;
            justify-content:space-around;
        }
        form-zones{
        padding: 12px;
        transform: translateX(-6px);
        }

        .form-inputs{
            /* box-shadow:0 0 6px 2px rgb(5, 135, 161,0.56); */
            font-weight: 800;
            color: rgb(243, 232, 218,0.87);
            background-color: rgb(17, 17, 40);
            margin:2px 12px;
            width: 100%;
            height: 8vh;
            border: 2px solid rgb(17, 17, 40);
            border-radius: 5px;
            padding: 0;
        }
        .form-btn{
            transform:translateY(55px);
            margin-left:12px;
            padding:25px;
        }
        .btnz{
            background: linear-gradient(to bottom,rgb(61, 15, 93,0.87),rgb(177, 68, 245,0.58),rgb(69, 26, 77,0.86));
            padding-top:8px;
            padding-bottom:8px;
            font-weight:bolder;
            font-weight:700;
            color: rgb(11, 11, 11,0.87);
        }
    .container-fluid.form-style
        form#signup.form(action='/produce/update?id='+products._id name='registration' method='POST')
            h3 Update Produce 
            hr
            .row
                .col-lg-4
                    .form-field
                        label Price:
                        input#price(type='number' name='price' autocomplete='off' value=products.price)
                .col-lg-4
                    .form-field
                        label Quantity:
                        input#ward(type='number' name='prodQuantity' autocomplete='off' value=products.prodQuantity)
                .col-lg-4.my-5
                    .form-field
                        label Mode of Delivery:
                        select(name='deliveryMode')
                            option(value="pick up") Pick Up
                            option(value="home delivery") Home Delivery
                .col-lg-4.my-5
                    .form-field
                        label Mode of Payment:
                        select(name='paymentMode')
                            option(value="Cash" selected = products.prodName === 'Cash') Cash
                            option(value="Mobile Money" selected = products.prodName === 'Mobile Money') Mobile Money   
                .form-btn
                    button.btn.btnz(class='button' type='submit') Update