*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
  overflow-y:hidden;
    background: rgb(24, 32, 45); 
}


.container{
    width: 100%;
    color: rgb(236, 242, 247,0.67);
    margin:20px auto;
    justify-content: center;
    border: 2px ridge rgb(128, 128, 128,0.75);
    border-radius: 12px;
    background: rgba(35, 24, 24, 0.23);
}

.cage{
    margin: auto;
    padding:0 10px;
    width: 100%;
    /* border: 2px solid black; */
}

.lamar{
    height: 25%;
    width: 100%;
}

h1{
    text-align: center;
}

.form-zones{
  padding: 12px;
  transform: translateX(-6px);
}

.form-inputs{
    font-weight: 800;
    color: rgb(243, 232, 218,0.87);
    background-color: rgb(17, 17, 40);
    margin:2px 12px;
    width: 100%;
    height: 4vh;
    border: 2px solid rgb(17, 17, 40);
    border-radius: 5px;
    padding: 4px;
}

    input:focus{
    box-shadow: none;
    outline:0;
    background-color: rgb(17, 17, 40);
}

.submit{
   text-align: center;

}

.btnz button{
    width: 16%;
    padding: 8px;
    background: rgb(11, 11, 11,0.4);
    border: 1px solid rgb(5, 135, 161,0.26);
    border-radius: 5px;
    font-weight: 900;
    box-shadow:2px 2px 6px 2px rgb(5, 135, 161,0.26);
    border-top: 0;
    border-bottom: 0;
    overflow: hidden;
    position: relative;
    color: rgb(166, 170, 174);
    cursor: pointer;
}

span{
    background: #04a897;
    width: 0;
    height: 100%;
    position:absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.6s;
}

.btnz button:hover span{
width: 100%;
}
.btnz button:hover{
    border: none;
    border-top: 0;
    color: black;
}

.form-head h2{
   margin-bottom: 15px;
   border-bottom: 1px solid grey;
   border-width: 100%;
  }

  h2{
    text-align: center;
    color: rgb(8, 250, 250,0.76);
    font-weight: bolder;
    font-size:45px;
    font-family: 'Rubik Marker Hatch', cursive;
  }

  .form-radio{
    display:flex ;
   /* transform: translateX(256px); */
   justify-content: center;
  }

  .radio{
    transform: translateX(12px);
  }
  .radio input{
    margin-left: 12px;
    margin-right: 12px;
  }

  .form-select{
    text-align: center;
    font-weight: 800;
    color: rgb(243, 232, 218,0.87);
    background-color: rgb(17, 17, 40);
    margin:2px 12px;
    width: 100%;
    height: 4vh;
    border: 2px solid rgb(17, 17, 40);
    border-radius: 5px;
    padding:0;
  }

  #select:focus{
    border: 0;
    box-shadow: none;
    outline:0;
    background-color: rgb(17, 17, 40);
  }

  .boundary{
    transform: translateY(15px);
  }